body {
    font-family: 'Poiret One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#button {
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}
